<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="min-h-screen">
    <div class="w-full h-screen flex justify-center items-center">
        <div class="w-fit h-fit  flex flex-col items-center rounded-md p-4 gap-4">
            <h1 class="w-fit text-6xl text-[--primary] font-bold">Project Manager</h1>
            <p class="text-[--secondary] text-xl">The intelligent project management platform that simplifies teamwork</p>
            <div class="flex gap-5">
                <a href="/register" class="bg-black text-[--primary] border border-[black] px-4 py-2 rounded-xl hover:bg-[--ternary] hover:border-[--primary] w-24 flex justify-center items-center">Register</a>
                <a href="/login" class="border border-[--primary] text-[--primary] px-4 py-2 rounded-xl w-24 flex justify-center items-center hover:bg-black hover:border-black">Login</a>
            </div>
        </div>
    </div>
</body>
</html>