<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head :: head}">

</head>
<body>
    <!-- Navbar -->
    <header th:replace="~{/fragments/header :: header}">
        <!-- Fallback content -->
        <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><i class="fa-solid fa-laptop-code fa-flip-horizontal"></i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="#">Home</a>
                        <a class="nav-link" href="landing.html">All Projects</a>
                        <a class="nav-link" href="#">Add New Project</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Project Cards -->
    <div class="container py-4">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
            <div class="col">
                <a href="/projects/" class="project-link text-decoration-none">
                    <div class="card">
                        <img src="project_images/img1.jpg" class="card-img-top" alt="project_image" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text"><b>Project 1</b><br>Description</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/projects/" class="project-link text-decoration-none">
                    <div class="card">
                        <img src="project_images/img2.jpg" class="card-img-top" alt="project_image" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text"><b>Project 2</b><br>Description</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/projects/" class="project-link text-decoration-none">
                    <div class="card">
                        <img src="project_images/img3.jpg" class="card-img-top" alt="project_image" style="height: 20rem;">
                        <div class="card-body">
                            <p class="card-text"><b>Project 3</b><br>Description</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Repeat for other cards -->
        </div>
    </div>

    <!-- Footer -->
    <footer th:replace="~{/fragments/footer :: footer}">
        <!-- Fallback content -->
        <div class="text-center py-4">
            <div class="mb-2">
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div>&copy; ProjectAce</div>
            <div>
                <a href="/Privacy">Privacy</a> | <a href="/Terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
</html>
